<div id="header">
  <div id='nav'>
    <ul id="content-navigation">
      <li><a href="">Home</a></li>
      <li><a href="">Story</a></li>
      <li><a href="">Photos</a></li>
      <li><a href="">Registry</a></li>
    </ul>
  </div>
</div>
