<div id="header">
  <div id='nav'>
    <ul id="content-navigation">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Story", story_path %></li>
      <li><%= link_to "Photos", photos_path %></li>
      <li><%= link_to "Registry", registry_path %></li>
    </ul>
  </div>
</div>
