<div id="slides">
  <div class="slides_container">
    <% @images.each do |img| %>
      <div> 
        <%= image_tag(img) %>
      </div>
    <% end %>
  </div>
</div>

<div id="links_container">
  <%= link_to image_tag(@buttons[:slc], size: "300x150"), "http://goo.gl/maps/ncEMN" %>
  <%= link_to image_tag(@buttons[:invite], size: "300x150"), form_path, title: "Sign up for an Invitation" %>
  <%= link_to image_tag(@buttons[:blanding], size: "300x150"), "http://goo.gl/maps/Hmlfj" %>
</div>
