<div id="slides">
  <div class="slides_container">
    <% @images.each do |img| %>
      <div> 
        <%= image_tag(img) %>
      </div>
    <% end %>
  </div>
</div>

<div id="links_container">
  <div id="left" class="column">
    <p>Text about the SLC reception</p>
  </div>
  <div id="center" class="column">
    <%= link_to image_tag(@buttons[:invite]), form_path, title: "Sign up for an Invitation" %>
    <%= link_to image_tag(@buttons[:temple], size: "100x50"), "http://www.ldschurchtemples.com/", title: "Temples" %>
  </div>
  <div id="right" class="column">
    <p>Text about the Blanding event</p>
  </div>
</div>
