<div#text_content>
  <div id="left_box">
    <a href="http://www.amazon.com/registry/wedding/1YFJ94GXAVYPD">Amazon</a>
    <%= image_tag(@amazon, size: "100x20px") %>
  </div>
  <div id="right_box">
    <a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?WRN=-146646413">Bed Bath & Beyond</a>
    <%= image_tag(@bbb) %>
  </div>
</div>
