// Layout Variables
$left_column_width: 200px;
$right_column_width: 150px;

$left_sidebar_width: 20%;
$main_width: 900px;
$main_width_max: 1200px;

//Constants for wedding colors
$blue: #3bbfce;
$dark_purple: #68228B;
$light_purple: #EED2EE;
$medium_purple: #7A378B;
$lavender: #CC99CC;
$white: #FDF8FF;

$margin: 16px;

$background_color: lighten($light_purple, 8%);
$header_dark: lighten($dark_purple, 5%);
$header_light: $lavender;
$header_shadow: #999;
$picture_shadow: desaturate(lighten($light_purple, 7%),0%);
$header_link_visited: darken($dark_purple, 5.5%);
$header_link: $header_link_visited; //darken($dark_purple, 15%);
$header_hover: lighten($medium_purple, 5%);

$header-height: 40px;
$header_text_size: 1.6em;

// Prototyping for the columns
#google_form {
  width: $main_width;
  //Doesn't change anything... altering the content of the iframe from the Google embedding dialog
}

#links_container {
  padding-left: $left_column_width;
  padding-right: $right_column_width;
}

#links_container .column {
  position: relative;
  float: left;
}

#center {
  width: 100%;
}
#center .column {
  display: inline-block;
  overflow: hidden;
}

#left {
  width: $left_column_width;
  right: $left_column_width;
  margin-left: -100%;
}
#right {
  width: $right_column_width;
  margin-right: $right_column_width;
}

/**** IE6 fix ***/
* html #left {
  left: $right_column_width;
}




#left_box {
  float: left;
  padding-right: 20px;
}
// For the slideshow
$slides_width: 900px;
$slides_height: 600px;

.slides_container {
  margin-left: auto;
  margin-right: auto;
  width: $slides_width;
  height: $slides_height;
  z-index: 1;
}
.slides_container div {
  width: $slides_width;
  height: $slides_height;
  background: $picture_shadow;
  display: block;
  z-index: -1;
}

//compass based gradient?
// needs latest Compass, add '@import "compass"' to your scss
/*@import "compass";
header div {
  background-color: rgb(94,37,122);
  @include filter-gradient(#5e257a, #5e257a, horizontal);
  @include background-image(linear-gradient(left, rgba(94,37,122,1) 0%,rgba(135,68,206,1) 29%,rgba(141,48,255,1) 74%,rgba(94,37,122,1) 100%));
} */
// Pulled from Metriculator
body {
  line-height: 1;
  min-width: 2*$left_column_width + $right_column_width ;
  max-width: $main_width_max;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************************************************************
 * Main Styles
 ****************************************************************************************/
.container {
  padding-top: 5px;
  width: 900px;
}

body {
  background: $background_color;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em; /* To improve legibility */
}

footer {
  padding-left: 5px;
  padding-right: 8px;
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
}

#wrapper {
  min-height: 100%;
}

.container {
  overflow: auto;
  padding-left: $left_sidebar_width;
  padding-right: $right_column_width;
}

#sidebar {
  float: left;
  width: $left_sidebar_width;
  background: $light_purple;
  border-right: 5px;
  padding-right: 20px;
  height: 100%;
}

#text_content {
  padding-left: 20px;
}

header {
  height: 60px;
  line-height: 30px;
//  position: sticky;
  z-index: 200
}

header img {
  display: none;
  padding: 0.8em;
  background: #fff;
}

/*****************************************************************************************
 * Header Levels 
 ****************************************************************************************/

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  padding: 1em 0 1em 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

/*****************************************************************************************
 * Links 
 ****************************************************************************************/

a:link {
  color: #09c;
  text-decoration: none;
}

a:visited {
  color: #09c;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

/* Header Nav links */

header nav ul li a:link {
  display: block;
  padding: 0 5px;
  color: $header_link;
}

header nav li a:visited {
  color: $header_link_visited;
}

header nav li a:hover {
  color: #000;
  background-color: $header_hover;
  text-decoration: none;
} 

/*****************************************************************************************
 * Navigation 
 ****************************************************************************************/
header nav {
  position: fixed;
  white-space: nowrap;
  /* Lovely box shadows! */
  -moz-box-shadow: 0px 1px 5px $header_shadow;
  -webkit-box-shadow: 0px 1px 5px $header_shadow;
  box-shadow: 0px 1px 5px $header_shadow;
}

header>nav {
//  background-color: $header_dark;
  width: 100%;
}

nav ul {
  text-align: center;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  display: table-cell;
  width: 25%;
  padding: 0;
  font-size: $header_text_size;
}

// Specifics to Wedding site

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header nav {
  white-space: nowrap;
}
#header {
  height: $header-height;
  line-height: $header-height ;
  vertical-align: baseline;
}
#nav {
  width: 100%;
}
#content-navigation {
  text-align: right;
  border-color: $blue;
  color: darken($blue, 9%);
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: lighten($blue, 9%);
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
