<header>
  <nav>
    <ul id="header">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Story", story_path %></li>
      <li><%= link_to "Photos", photos_path %></li>
      <li><%= link_to "Registry", registry_path %></li>
    </ul>
		<ul id="subheader"></ul>
  </nav>
</header>
